body{
    font-family: 'Roboto Slab', serif;
    margin:0;
}
h1{
    font-size:50px;
}
 h2{
        font-size:40px;
 }
 h3{
        font-size:25px;
        color:gray;
     }
p{
    color:goldenrod;
    font-size:18px; text-align: initial;
}
.name-highlight{
    color:tomato;
}
.half-width{
    width:40%; float:left; margin-left:6%; padding-left:3%;
}
.half-width img{
width:100%;
}

#picture-width{
    width:500px; height:400px;
}
section{
    height:500px;
    padding-bottom:150px;
}
.part-2{
background-image:url("images/dream-bg.png");
background-repeat:no-repeat;
background-position:right;
}
.part-3{
    background-image:url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
}
.fusion-button{
    text-decoration:none; background-image:linear-gradient(100deg,orange,green); padding:10px 20px; border-radius:7px;
    color:whitesmoke;
}

.link-button{
    text-decoration:none;
     background-image:linear-gradient(45deg,lightsalmon,tomato); 
     padding:10px 20px; border-radius:5px; color:white; font-weight:700px;
}
.box{
    box-shadow:10px 10px 20px;
    height:80%; border-radius:5px; background-color:white;}

#width{ border-left:7px solid; border-image:linear-gradient(180deg,orange,green);
     border-image-slice:1;
    }
#width-1{
    border-left:7px solid; border-image:linear-gradient( blue,cyan); border-image-slice:1;
}
